#transition-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition-duration: 0.3s;
}

@keyframes cambiarTamaño {
    from {
        scale: 1;
    }
    to {
        scale: 1.2;
    }
}
button:hover {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  animation: cambiarTamaño 1.2 ease-in-out;
}