footer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: RGB(69 0 49);
}

button {
    width: 9rem;
    height: 3rem;
    border-radius: 15%;
    border: 1px black solid;
    background-color: wheat;
}