#pokemonbutton {
    height: 5rem;
    width: 9rem;
    border-radius: 40%;
    background-color: crimson;
    border: 1px black solid;
}

#pokedex {
    height: 4rem;
    width: 7rem;
    
}

#homebutton {
    height: 5rem;
    width: 9rem;
    border-radius: 40%;
    background-color: crimson;
    border: 1px black solid;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

