#containerDashboard {
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249,213,211);
  & ul {
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    & li figure {
      width: 350px;
      height: 350px;
      display: flex;
      flex-direction: column;
      margin: 2rem 2rem 2rem 2rem;
      background-color: rgb(238,10,15);
      justify-content: center;
      align-items: center;
      border-radius: 30%;
      & h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
        color: wheat;
      }
      
    }
  }
  & img {
    width: 250px;
  }
}
